.entry {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  position: relative;
  top: -7px;
}

div.entry label {
  display: none;
}

div input#detect {
  padding: 10px 20px;
  width: 648px;
  height: 30px;
  background: #ffffff;
  border-radius: 15px;
  border: none;
  margin: 10px;
}

#detectButton {
  width: 120px;
  height: 40px;
  background: #d172df;
  border: rgb(193, 121, 221) 1px solid;
  border-radius: 7px;
  box-shadow: rgb(101, 64, 148) 1px 1px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #000000;
}

#detectButton:hover {
  background: #d88ae4;
  cursor: pointer;
}

#detectButton:active {
  transform: translateY(1px);
}
