p.rank {
  /* border: 1px solid red; */
  position: relative;
  margin: 0 auto;
  top: -30px;
  left: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 4px;
  font-style: normal;
}
